@charset "UTF-8";
/*
    em HTML é id = em CSS é # (só pode ter um elemento)
    em HTML é class = em CSS é . (pode ter multiplos elementos)
*/
body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: whitesmoke;
}

h2 {
    color:rgb(51, 77, 49);
}